/* header */
html, body {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
}
 
.header {
    min-height: 100%;
}

.logo{
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

.r-pic {
    height: 70px;
    width: auto;
}

.hire-me {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    height: 41px;
    width: 115px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    line-height: 40px;
    text-align: center; 
    font-weight: bold;
    color: #E8EAF7;
    background-color: #646FC7;
}

a:hover {
    color: #E8EAF7;
    text-decoration: none;
}

a {
    color: #E8EAF7;
    text-decoration: none;
}

.hire-me:hover {
    background-color: #4430AD;
    color: #E8EAF7;
    text-decoration: none;
}

.intro {
    position: absolute;
    top: 30%;
    left: 13%;
    height: 400px;
    width: 900px;
    float: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size:25px;
    text-align: center;
    margin-bottom: 30px;
}

.self-cartoon {
    height: 275px;
    width: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 100px;
}

/* Navbar */
.nav {
    width: 100%;
    height: auto;
    background-color: #646FC7;
    color: #E8EAF7;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.nav-portfolio {
    margin-left: 25px;
    margin-right: 15px;
    padding: 3px;
    
}

.nav-portfolio:hover {
    color: #4430AD;
}

.nav-about {
    margin-right: 15px;
    padding: 3px;
    line-height: 40px;
    
}

.nav-about:hover {
    color: #4430AD;
}

.nav-contact{
    padding: 3px;
    color: #4430AD;
    border-bottom: solid;
}

.nav-contact:hover {
    color: #4430AD;
}

/* About Ricki bar */
.about-ricki {
    background-color: #646FC7;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #E8EAF7;
}

.about-ricki:hover {
    background-color: #4430AD;
}

/* social media sidebar */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #E8EAF7;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #4430AD;
}
  
.github {
    background: black;
    color: #E8EAF7;
}

.google-plus {
    background: #dd4b39;
    color: #E8EAF7;
}
  
.linkedin {
    background: #007bb5;
    color: #E8EAF7;
}

  /* Footer */

.footer {
    background-color: #A3BAE0;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

.pic-and-blurb {
    margin-left: 40px;
    width: 20%;
    height: auto;
    padding-bottom: 10px;
}
  
h5 {
    margin-bottom: 22px;
    display: inline-block;
}

.footer-image {
    position: relative;
    border-style: solid;
    border-width: 2px;
    float: left;
    height: 90px;
    width: auto;
    margin-right: 3px;
}
  
.hire-now {
   color: #646FC7;
}

.hire-now:hover {
      color: #4430AD;
      text-decoration: none;
}

.contact-me {
    float: right;
    width: 18%;
    height: auto;
    margin-right: 20px;
}

.contact-header {
    text-align: left;
    margin-bottom: 20px;
}

.envelope {
    margin-bottom: 13px;
}

.copyright {
    background-color: #A3BAE0;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: center;
    border-top: .5px solid #646FC7;
}

/* ------------------------------------------------------------------------------------------------ */

.box {
    font-family: 'Quicksand', sans-serif;
    height: 600px;
    width: 100%;
    background-color: #A3BAE0;
    padding-top: 1px;
}

.contact-page {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #A3BAE0;
}

.title {
    font-weight: bold;
    height: 40px;
    width: 100%;
    font-size: 38px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
}

.txt {
    margin-bottom: 5px;
    margin-top: 20px;
    height: 15px;
    font-size: 15px;
}

.textbox {
    width: 100%;
    height: 35px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.write-message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.submit-button {
    background-color: #646FC7;
    height: 35px;
    width: 80px;  
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    margin-top: 30px;
    float: right;
}

.submit-button:hover {
    background-color: #4430AD;
}

.submit {
  font-weight: 13px;
  color: #E8EAF7; 
  margin: 0; 
  margin-left: auto; 
  margin-right: auto;
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
    .intro {
        height: 400px;
        width: 500px;
        left: 3%;
    }
    
    h1 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    .self-cartoon {
        height: 240px;
        width: 240px;
    }
    
    .hire-me {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    .intro {
        height: 400px;
        width: 550px;
        left: 3%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 240px;
        width: 240px;
    }

    .hire-me {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    .intro {
        height: 400px;
        width: 570px;
        left: 5%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 240px;
        width: 240px;
    }

    .hire-me {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
    .intro {
        height: 400px;
        width: 600px;
        left: 5%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 275px;
        width: 275px;
    }

    .hire-me {
        margin-right: 20px;
    }  
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
    .intro {
        height: 400px;
        width: 650px;
        left: 4%;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 225px;
        width: 225px;
    }

    .hire-me {
        margin-right: 20px;
    }  
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
    .intro {
        height: 400px;
        width: 700px;
        left: 6%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 215px;
        width: 215px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
    .intro {
        height: 400px;
        width: 740px;
        left: 6%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 215px;
        width: 215px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}

@media only screen and (min-width: 850px) and (max-width: 900px) {
    .intro {
        height: 400px;
        width: 750px;
        left: 7%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 265px;
        width: 265px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}

@media only screen and (min-width: 900px) and (max-width: 950px) {
    .intro {
        height: 400px;
        width: 850px;
        left: 5%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 265px;
        width: 265px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    .intro {
        height: 400px;
        width: 950px;
        left: 3%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 265px;
        width: 265px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}

@media only screen and (min-width: 1000px) and (max-width: 1050px) {
    .intro {
        height: 400px;
        width: 950px;
        left: 3%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 275px;
        width: 275px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}

@media only screen and (min-width: 1050px) and (max-width: 1100px) {
    .intro {
        height: 400px;
        width: 1000px;
        left: 3%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 275px;
        width: 275px;
    }

    .hire-me {
        margin-right: 20px;
    } 
}