.margins {
  margin-top: 3%;
  margin-left: 18.5%
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  background-color: #646FC7;
}

.window {
  width: 800px;
  height: 550px;
}

.heading {
  height: 20px;
  width: 97.5%;
  background-color: #eee;
  padding: 10px;
  text-align: center;
  color: #555;
  font-size: 18px;
}
.title { 
  margin-left: -10px;;
}

.window-content {
  background-color: #fff;
  padding-top: 4px;

}

.code {
  font-family: monospace;
  list-style: none;
  color: #555;
}

.comment { 
    color: #646FC7;
}
  
.line {
    display: block;
    counter-increment: lineNum;
}

.line:before {
    display: inline-block;
    content: counter(lineNum, decimal-leading-zero);
    padding: 8px 24px;
    margin-right: 30px;
    font-weight: 700;
    color: #ccc;
}