body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  background-color: #A3BAE0;
}

.container {
  height: 100%;
  width: 100%;
}

.box {
  height: 100%;
  width: 100%;
}

/* Text Editor */

.textbox {
  background-color: #252526;
  color: #F0FFF0;
  height: 495px;
  width: 900px;
  margin-left: 13%;
  margin-top: 3%;
  border-radius: 5px;
}

/* Window Header */
.window-header {
  background-color: #DBDBDB;
  width: 100%;
  height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.green {
  background-color: green;
  height:10px;
  width: 10px;
  border-radius: 25px;
  margin: 3px;
  float: left;
}

.yellow {
  background-color: yellow;
  height: 10px;
  width: 10px;
  border-radius: 25px;
  margin: 3px;
  float: left;
}

.red {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 25px;
  margin: 3px;
  float: left;
}

/* Nav Bar */
.header {
  background-color: #474747;
  height: 20px;
  width: 100%;
  padding-top: 5px;
}

.help {
  float: left;
  font-size: 13px;
  margin: 5px;
  margin-top: 2px;
}

.terminal {
  float: left;
  font-size: 13px;
  margin: 5px;
  margin-top: 2px;
}

.debug {
  float: left;
  font-size: 13px;
  margin: 5px;
  margin-top: 2px;
}

.edit {
  float: left;
  font-size: 13px;
  margin: 5px;
  margin-top: 2px;
}

.file {
  float:left;
  font-size: 13px;
  margin: 5px;
  margin-top: 2px;
  margin-left: 50px;
}

/* Workspace */

.projects {
  /* background-color: #252526; */
  float: left;
  background-color: orange;
  font-size: 15px;
  height: 40%;
  width: 60%;
  margin-left: 5px;
}

.ellipsis {
  float: left;
  width: 10%
}

.project-3 {
  background-color: #2D2D2D;
  color: #858585;
  float: left;
  width: 10%;
}

.project-2 {
  color: #858585;
  background-color: #252526;
  float: left;
  width: 10%;
}

.project-1 {
  background-color: #2D2D2D;
  color: #858585;
  float: left;
  width: 10%;
}

.sidebar {
  background-color: #252526;
  float: left;
  height: 450px;
  width: 13%;
}

.sidebar-header {
  background-color: #373737;
  height: 60px;
  width: 100%;
  padding-left: 4px;
}

.portfolio-projects {
  background-color: #373737;
  color: #E8EAF7;
  height: 364px;
  width: 100%;
  padding-left: 4px;
}

.projects-header {
  background-color: #252526;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 13px;
}

/* Icons Sidebar */
.sidebar-sidebar {
  float: left;
  background-color: #333333;
  height: 450px;
  width: 7%;
  border-bottom-left-radius: 5px;
}

.document {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.search {
  margin-bottom: 20px;
  margin-left: 8px;
}

.fork {
  margin-bottom: 20px;
  margin-left: 13px;
}

.extension {
  margin-bottom: 20px;
  margin-left: 6px;
}

.search-sidebar {
  margin-top: 150px;
  margin-left: 10px;
}

.text-body {
  background-color: #2D2D2D;
  color: #858585;
}

.footer {
  background-color: #007ACC;
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
}

/* Modal Content */
.modal-content {
  background-color: #E8EAF7;
  margin: 8% auto; 
  padding: 20px;
  border: 1px solid #4430AD;
  width: 40%;
  height: 35%;
}

.close {
  color: #646FC7;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #4430AD;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 30px;
}

.modal-body {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 35px;
}

.trigger {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  background-color: #646FC7;
  color: #E8EAF7;
  width: 110px;
  height: 10px;
  padding: 10px;
  margin: 5px;
  padding-bottom: 15px;
  float: right;
  cursor: pointer;
}

.link {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  background-color: #646FC7;
  color: #E8EAF7;
  width: 125px;
  height: 10px;
  padding: 10px;
  margin: 5px;
  padding-bottom: 15px;
  float: right;
}

.trigger:hover,
.link:hover {
  text-decoration: none;
  background-color: #4430AD;
  color: #E8EAF7;
}

.blur {
  filter: blur(2px);
}