/* header */
html, body {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
}
 
.header {
    min-height: 100%;
}

.logo{
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

.r-pic {
    height: 70px;
    width: auto;
}

.hire-me {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    height: 41px;
    width: 115px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    line-height: 40px;
    text-align: center; 
    font-weight: bold;
    color: #E8EAF7;
    background-color: #646FC7;
}

a:hover {
    color: #E8EAF7;
    text-decoration: none;
}

a {
    color: #E8EAF7;
    text-decoration: none;
}

.hire-me:hover {
    background-color: #4430AD;
    color: #E8EAF7;
    text-decoration: none;
}

.intro {
    position: absolute;
    top: 30%;
    left: 13%;
    height: 400px;
    width: 900px;
    float: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size:25px;
    text-align: center;
    margin-bottom: 30px;
}

.self-cartoon {
    height: 275px;
    width: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 100px;
}

/* Portfolio */

.portfolio {
    background-color: #A3BAE0;
    width: 100%;
    height: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F1F5FA;
}

.column {
    width: 96%;
    height: auto;
    margin-left: 2.5%;
}

.individual-picture {
    width: 32%;
    height: auto;
    margin: 2px;
}

.individual-picture:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px #646FC7, 0 0 5px #4430AD;
}

.portfolio-header{
    margin: 30px;
    text-align: center;
    font-size: 60px;
    text-shadow: 1px 1px 3px #4430AD;
}

.portfolio-sub-header{
    margin: 15px;
    margin-bottom: 60px;
    text-shadow: 1px 1px 2px #4430AD;
}

/* make each website a button */
.container {
    position: relative;
    width: 32%;
    height: auto;
  }
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #646FC7;
    color: #E8EAF7;
    font-size: 16px;
    padding: 16px 32px;
}

.text:hover {
      background-color: #4430AD;
}

/* Get Websites In The Right Place */

.three {
    float: left;
    width: 33%;
}

.two {
    margin-right: 3px;
    float: left;
    width: 33%;
}

.one {
    margin-right: 3px;
    float: left;
    width: 33%;
}


/* The stuff I know */

.stuff-i-know {
    font-family: 'Quicksand', sans-serif;
    background-color: #A3BAE0;
    color: white;
    width: 100%;
    height: 500px;
}

.skills-box {
    height: 450px;
    width: 40%;
    margin: auto;
    background-color: #C6D4EB;
    box-shadow: 1px 1px 2px black, 0 0 25px #646FC7, 0 0 5px #4430AD;
}

.smaller-box {
    position: relative;
    height: 90%;
    width: 90%;
    margin: auto;
    top: 15px;
}

.skills-header {
    height: 40px;
    width: 100%;
    padding-bottom: 15px;
}

.skills-heading {
    color: #4430AD;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}
.skills-text {
    color: #646FC7;
    font-size: 15px;
    padding-bottom: 4px;
}

.bar {
    width: 99%;
    height: 15px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid #4430AD;
    background-color: #A3BAE0;
}

.html {
    height: 11px;
    width: 72%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.css {
    height: 11px;
    width: 83%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.js {
    height: 11px;
    width: 58%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.jquery {
    height: 11px;
    width: 64%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.response {
    height: 11px;
    width: 50%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.git {
    height: 11px;
    width: 77%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.team {
    height: 11px;
    width: 90%;
    background-color: #4430AD;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}


/* Navbar */
.nav {
    width: 100%;
    height: auto;
    background-color: #646FC7;
    color: #E8EAF7;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.nav-portfolio {
    margin-left: 25px;
    margin-right: 15px;
    color: #4430AD;
    padding: 3px;
    border-bottom: solid;
}

.nav-portfolio:hover {
    color: #4430AD;
}

.nav-about {
    margin-right: 15px;
    padding: 3px;
    line-height: 40px;
}

.nav-about:hover {
    color: #4430AD;
}

.nav-contact{
    padding: 3px;
}

.nav-contact:hover {
    color: #4430AD;
}

/* About Ricki bar */
.about-ricki {
    background-color: #646FC7;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #E8EAF7;
}

.about-ricki:hover {
    background-color: #4430AD;
}

/* social media sidebar */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #E8EAF7;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #4430AD;
}
  
.github {
    background: black;
    color: #E8EAF7;
}

.google-plus {
    background: #dd4b39;
    color: #E8EAF7;
}
  
.linkedin {
    background: #007bb5;
    color: #E8EAF7;
}

  /* Footer */

.footer {
    background-color: #A3BAE0;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

.pic-and-blurb {
    margin-left: 50px;
    width: 20%;
    height: auto;
    padding-bottom: 10px;
}
  
h5 {
    margin-bottom: 22px;
    display: inline-block;
}

.footer-image {
    position: relative;
    border-style: solid;
    border-width: 2px;
    float: left;
    height: 90px;
    width: auto;
    margin-right: 3px;
}
  
.hire-now {
   color: #646FC7;
}

.hire-now:hover {
      color: #4430AD;
      text-decoration: none;
}

.contact-me {
    float: right;
    width: 23%;
    height: auto;
    margin-right: 0;
}

.contact-header {
    text-align: left;
    margin-bottom: 20px;
}

.envelope {
    margin-bottom: 13px;
}

.copyright {
    background-color: #A3BAE0;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: center;
    border-top: .5px solid #646FC7;
}


@media only screen and (max-width: 500px) {
    .intro {
        height: 400px;
        width: 400px;
        left: 5%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 240px;
        width: 240px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 95%;
    }

    .column {
        margin-left: 3%;
    }

    .portfolio {
        height: 1950px;
    }

    .hire-me {
        margin-right: 20px;
    }

    .pic-and-blurb {
        margin-left: 30px;
        width: 55%;
        font-size: 14px;
    }

    .skills-box {
        width: 90%;
    }

    .hire-now {
        font-size: 15px;
    }

    .footer-image {
        width: 80px;
        height: auto;
    }
    
    .contact-me {
        width: 44%;
        color: purple;
        font-size: 14px;
    }
  }

@media only screen and (min-width: 500px) and (max-width: 550px) {
    .intro {
        height: 400px;
        width: 450px;
        left: 3%;
    }
    
    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }
    
    .self-cartoon {
        height: 240px;
        width: 240px;
    }

    .skills-box {
        width: 90%;
    }
    
    .portfolio-header {
        font-size: 40px;
    }
    
    .container {
        width: 97%;
    }
    
    .column {
        margin-left: 3%;
    }

    .portfolio {
        height: 2180px;
    }
    
    .hire-me {
        margin-right: 20px;
    }

    .pic-and-blurb {
        margin-left: 30px;
        width: 49%;
        font-size: 16px;
    }

    .footer-image {
        width: 80px;
        height: auto;
    }

    .contact-me {
        width: 41%;
        color: olive;
        font-size: 16px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    .intro {
        height: 400px;
        width: 500px;
        left: 3%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 240px;
        width: 240px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 97%;
    }

    .column {
        margin-left: 3%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 2360px;
    }

    .hire-me {
        margin-right: 20px;
    }

    .skills-box {
        width: 75%;
    }

    .pic-and-blurb {
        margin-left: 30px;
        width: 46%;
    }
    
    .contact-me {
        width: 38%;
        color: chocolate;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    .intro {
        height: 400px;
        width: 570px;
        left: 5%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 240px;
        width: 240px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 45%;
    }

    .column {
        margin-left: 6%;
    }

    .second-one {
        margin-left: 3px;
    }

    .skills-box {
        width: 90%;
    }

    .portfolio {
        height: 800px;
    }

    .hire-me {
        margin-right: 20px;
    }

    .pic-and-blurb {
        margin-left: 30px;
        width: 42%;
    }
    
    .contact-me {
        width: 35%;
        color: yellow;
    }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
    .intro {
        height: 400px;
        width: 600px;
        left: 5%;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .self-cartoon {
        height: 275px;
        width: 275px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 45%;
    }

    .column {
        margin-left: 6%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 800px;
    }

    .hire-me {
        margin-right: 20px;
    }  

    .skills-box {
        width: 70%;
    }

    .pic-and-blurb {
        margin-left: 30px;
        width: 39%;
    }
    
    .contact-me {
        width: 35%;
        color: rosybrown;
    }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
    .intro {
        height: 400px;
        width: 650px;
        left: 4%;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 225px;
        width: 225px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 45%;
    }

    .column {
        margin-left: 6%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 850px;
    }

    .skills-box {
        width: 60%;
    }

    .hire-me {
        margin-right: 20px;
    }  

    .pic-and-blurb {
        margin-left: 30px;
        width: 36.5%;
    }
    
    .contact-me {
        width: 30%;
        color: firebrick;
    }
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
    .intro {
        height: 400px;
        width: 650px;
        left: 6%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 215px;
        width: 215px;
    }

    .portfolio-header {
        font-size: 45px;
    }

    .container {
        width: 45%;
    }

    .column {
        margin-left: 6%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 900px;
    }

    .skills-box {
        width: 60%;
    }

    .hire-me {
        margin-right: 20px;
    } 

    .pic-and-blurb {
        margin-left: 30px;
        width: 33.5%;
    }
    
    .contact-me {
        width: 30%;
        color: chartreuse;
    }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
    .intro {
        height: 400px;
        width: 730px;
        left: 6%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 215px;
        width: 215px;
    }

    .portfolio-header {
        font-size: 45px;
    }

    .container {
        width: 43%;
    }

    .column {
        margin-left: 6%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 900px;
    }

    .hire-me {
        margin-right: 20px;
    } 

    .pic-and-blurb {
        margin-left: 30px;
        width: 31%;
    }
    
    .contact-me {
        width: 28%;
        color: lightcoral;
    }
}

@media only screen and (min-width: 850px) and (max-width: 900px) {
    .intro {
        height: 400px;
        width: 700px;
        left: 7%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 265px;
        width: 265px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 43%;
    }

    .column {
        margin-left: 6%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 950px;
    }

    .hire-me {
        margin-right: 20px;
    } 

    .pic-and-blurb {
        margin-left: 30px;
        width: 30%;
    }
    
    .contact-me {
        width: 25%;
        color: wheat;
    }
}

@media only screen and (min-width: 900px) and (max-width: 950px) {
    .intro {
        height: 400px;
        width: 800px;
        left: 5%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 260px;
        width: 260px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .column {
        margin-left: 6%;
    }

    .container {
        width: 45%;
    }

    .second-one {
        margin-left: 3px;
    }

    .portfolio {
        height: 1000px;
    }

    .hire-me {
        margin-right: 10px;
    } 

    .pic-and-blurb {
        margin-left: 30px;
        width: 28%;
    }
    
    .contact-me {
        width: 25%;
        color: pink;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    .intro {
        height: 400px;
        width: 900px;
        left: 3%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 260px;
        width: 260px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 46%;
    }

    .portfolio {
        height: 1100px;
    }

    .column {
        padding-left: 5%;
    }

    .hire-me {
        margin-right: 20px;
    } 

    .second-one {
        margin-left: 3px;
    }

    .pic-and-blurb {
        margin-left: 20;
        width: 26.3%;
    }
    
    .contact-me {
        width: 25%;
        color: teal;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1050px) {
    .intro {
        height: 400px;
        width: 950px;
        left: 3%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 275px;
        width: 275px;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .container {
        width: 45%;
    }

    .portfolio {
        height: 1100px;
    }

    .hire-me {
        margin-right: 20px;
    } 

    .footer {
        background-color: #A3BAE0;
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    
    .pic-and-blurb {
        margin-left: 40px;
        width: 20%;
        height: auto;
        padding-bottom: 10px;
    }
      
    h5 {
        margin-bottom: 22px;
        display: inline-block;
    }

    .projects {
        margin-left: 8%;
    }

    .portfolio {
        height: 1050px;
        padding-top: 10px;
    }

    .column {
        margin-left: 2%;
    }

    .second-one {
        margin-left: 3px;
    }

    .pic-and-blurb {
        width: 25%;
    }

    .contact-me {
        width: 23%;
        color: hotpink;
        margin-right: 0;
    }
    
}

@media only screen and (min-width: 1050px) and (max-width: 1100px) {
    .intro {
        height: 400px;
        width: 1000px;
        left: 3%;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .self-cartoon {
        height: 270px;
        width: 270px;
    }

    .portfolio-header {
        font-size: 55px;
    }

    .container {
        width: 48%;
    }

    .portfolio {
        height: 1400px;
        height: 1300px;
        padding-top: 10px;
    }

    .column {
        margin-left: 2%;
    }

    .second-one {
        margin-left: 3px;
    }

    .hire-me {
        margin-right: 20px;
    } 

    .pic-and-blurb {
        margin-left: 30px;
        width: 24%;
    }
    
    .contact-me {
        width: 23%;
        color: purple;
    }
      
}

@media only screen and (min-width: 1100px) and (max-width: 1150px) {
    .pic-and-blurb {
        margin-left: 30px;
        width: 22.5%;
    }
    
    .contact-me {
        width: 20%;
        color: red;
    }
    
}

@media only screen and (min-width: 1150px) and (max-width: 1200px) {
    .pic-and-blurb {
        margin-left: 30px;
        width: 22%;
    }
    
    .contact-me {
        width: 20%;
        color: yellow;
    }
    
}


@media only screen and (min-width: 1200px) and (max-width: 1250px) {
    .self-cartoon {
        height: 270px;
        width: 270px;
    }
    
    .pic-and-blurb {
        margin-left: 30px;
        width: 21.5%;
    }
    
    .contact-me {
        width: 20%;
        color: green;
    }
    
}